.navbar {
    width: 40px;
    height: 100vh;
    position: absolute;
    background-color: $black;
    top: 0;
    &__user-icon {
        width: 30px;
        height: 30px;
        position: relative;
        margin-top: 40px;
        margin-left: 3px;
        border-radius: 50%;
        cursor: pointer;
        &--img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid #009081;
        }
    }
    &__icons {
        margin-top: 40px;
        text-align: center;
        position: relative;
        cursor: pointer;
        li {
            padding: 10px 0;
            display: flex;
            justify-content: center;
            align-content: center;
            width: 40px;
            transition: 225ms;
            &:hover {
                width: 45px;
                outline: none;
                background-color: snow;
            }
            i {
                font-size: 1.5rem;
                color: white;
                width: 40px;
                transition: 225ms;
                outline: none;
                &:hover {
                    width: 45px;
                    outline: none;
                    color: #009081;
                }
            }
        }
    }
}